services:
  product-service:
    build: product-service
    environment:
      PORT: 8000
      DATABASE_URL: postgresql+psycopg2://user:password@postgres:5432/products
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  product-service-async:
    build: product-service-async
    environment:
      PORT: 8001
      DATABASE_URL: postgresql+asyncpg://user:password@postgres:5432/products
    ports:
      - "8001:8001"
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8001/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: products
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d products" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
